.App {
  text-align: center;
}

.headnav {
  margin: 0px !important;
  position: fixed !important;
  padding: 0 8px 8px 8px;
  border-radius: 0 0 30px 30px !important;
  width: 100%;
  z-index: 20;
  top: 0;
}

.main-container {
  padding-top: 100px;
  min-height: 100vh;
}

.corona-logo {
  width: 30%;
  animation: corona-logo-spin infinite 20s linear;
}

.covid-title {
  position: relative;
  font-size: 18px;
  top: 3px;
}

@keyframes corona-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#call {
  color: #0000ff;
  margin-bottom: 8px;
}

@media (max-width: 399px) {
  #call { font-size: 16px; }
}